@model MusicPortal.BLL.DTO.PerformerDTO
@{
    ViewBag.Title = @Resources.Resource.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="AddPerformer" class="forms mini">
    <h2>@Resources.Resource.PerformerAddTitle</h2>
    <input asp-for="FullName" class="inputs" placeholder="@Resources.Resource.FullnamePerformer" />
    <span asp-validation-for="FullName" class="text-danger"></span>
    <div class="formbot">
        <a asp-action="ToPerformers" class="hrefbtn inbot">@Resources.Resource.Reset</a>
        <input type="submit" value="@Resources.Resource.Add" class="btn inbot" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}