@model MusicPortal.Models.IndexVM
@{
    ViewBag.Title = @Resources.Resource.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="page">
    <section class="menu">
        @if (Context.Session.GetString("Login") != "Admin" && Context.Session.GetString("Authorization") == "True") {
            <p class="toptext">@Resources.Resource.Welcome, @Context.Session.GetString("Login"). <a asp-action="Logout" class="href">@Resources.Resource.Exit</a></p>
            <hr class="line"/>
            <a asp-action="ToAddSong" class="hrefbtn">@Resources.Resource.AddSong</a>
        }
        else if (Context.Session.GetString("Login") != "Admin" && Context.Session.GetString("Authorization") == "False") {
            <p class="toptext">@Context.Session.GetString("Login"), @Resources.Resource.NotAuthorize! <a asp-action="Logout" class="href">@Resources.Resource.Exit</a></p>
            <hr class="line" />
        }
        else {
            <p class="toptext">@Resources.Resource.InAdmin. <a asp-action="Logout" class="href">@Resources.Resource.Exit</a></p>
            <hr class="line" />
            <a asp-action="ToUsers" class="hrefbtn">@Resources.Resource.UserControl</a>
            <a asp-action="ToAddSong" class="hrefbtn">@Resources.Resource.AddSong</a>
            <a asp-action="ToGenres" class="hrefbtn">@Resources.Resource.GenreList</a>
            <a asp-action="ToPerformers" class="hrefbtn">@Resources.Resource.PerformerList</a>
        }
        <form class="botform" asp-action="ChangeCulture" asp-controller="Music" method="post">
            <select class="inputs no-margin" name="lang">
                <option disabled selected>@Resources.Resource.ChooseLang</option>
                @foreach (var language in ViewBag.Languages) {
                    <option value="@language.ShortName">@language.Name</option>
                }
            </select>
            <input type="submit" value="@Resources.Resource.Choose" class="btn no-margin">
        </form>
    </section>
    <section class="songs">
        <div class="debug">
            <a class="hrefbtn fif" asp-action="Index" 
            asp-route-sortOrder="@(Model.SortVM!.TitleSort)" 
            asp-route-genre="@(Model.FilterVM!.SelectedGenre)"
               asp-route-performer="@(Model.FilterVM!.SelectedPerformer)">@Resources.Resource.byName</a>

            <a class="hrefbtn fif" asp-action="Index"
            asp-route-sortOrder="@(Model.SortVM!.GenreSort)"
            asp-route-genre="@(Model.FilterVM!.SelectedGenre)"
               asp-route-performer="@(Model.FilterVM!.SelectedPerformer)">@Resources.Resource.byGenre</a>

            <a class="hrefbtn fif" asp-action="Index"
            asp-route-sortOrder="@(Model.SortVM!.PerformerSort)"
            asp-route-genre="@(Model.FilterVM!.SelectedGenre)"
               asp-route-performer="@(Model.FilterVM!.SelectedPerformer)">@Resources.Resource.byPerformer</a>

            <form class="filtration" method="get">
                <span>@Resources.Resource.Genre: </span>
                <select class="inputs no2" name="genre" asp-items="Model.FilterVM!.Genres"></select>
                <span>@Resources.Resource.Performer: </span>
                <select class="inputs no2" name="performer" asp-items="Model.FilterVM!.Performers"></select>
                <input type="submit" value="@Resources.Resource.Search" class="btn no" />
            </form>
        </div>
        @foreach (var song in Model.Songs!) {
            <div class="songplate">
                <span>@song.Title - @song.Performer | @song.Genre</span>
                <audio controls class="audio">
                    <source src="@song.Path" type="audio/mpeg">
                    @Resources.Resource.AudioAlert.
                </audio>
                <div class="songbut">
                    @if (Context.Session.GetString("Login") == "Admin") {
                        <a asp-action="ToEditSong" asp-route-songId="@song.Id" class="hrefbtn thrd">@Resources.Resource.Edit</a>
                        <a asp-action="DeleteSong" asp-route-songId="@song.Id" class="hrefbtn thrd">@Resources.Resource.Delete</a>
                    } else { }
                </div>
            </div>
        }
        <page-link class="pagextra" page-model="Model.PageVM" page-action="Index"
                   page-url-genre="@(Model.FilterVM!.SelectedGenre)"
                   page-url-performer="@(Model.FilterVM.SelectedPerformer)"
                   page-url-sortorder="@(Model.SortVM!.Current)"></page-link>
    </section>
</main>