@model IEnumerable<Dz03._04._2024.Models.Films>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    @foreach (var film in Model) {
        <div class="filmplate">
            <img class="image" src="@film.PosterPath" />
            <div class="finfo">
                <span>@film.Title</span>
                <span>@film.Director</span>
                <span>@film.Genre</span>
                <span>@film.Date.ToShortDateString()</span>
                <div class="bottom">
                    <a asp-action="Details" asp-route-id="@film.Id" class="inbutton">Подробнее</a>
                    <a asp-action="Delete" asp-route-id="@film.Id" class="inbutton">Удалить</a>
                </div>
            </div>
        </div>
    }
</div>
